/* 搜索引擎相关CSS内容 */
.search-engin{
    position: relative;
}
.search-inf{
    width: 300px;
    border: 1px solid skyblue;
    border-radius: 20px;
    position: absolute;
    top: 46px;
    left: 0;
    display: none;

}
.search-inf>li{
    margin-top: 5px;
    cursor: pointer;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
.active{
    display: block;
}
